.header {
  &_grid {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    &__item {
        display: block;
        width: 16.6667%;
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        &.item-01{background-image: url(../img/header/photo-01.jpg)}
        &.item-02{background-image: url(../img/header/photo-02.jpg)}
        &.item-03{background-image: url(../img/header/photo-03.jpg)}
        &.item-04{background-image: url(../img/header/photo-04.jpg)}
        &.item-05{background-image: url(../img/header/photo-05.jpg)}
        &.item-06{background-image: url(../img/header/photo-06.jpg)}
        &.item-07{background-image: url(../img/header/photo-07.jpg)}
        &.item-08{background-image: url(../img/header/photo-08.jpg)}
        &.item-09{background-image: url(../img/header/photo-09.jpg)}
        &.item-10{background-image: url(../img/header/photo-10.jpg)}
        &.item-11{background-image: url(../img/header/photo-11.jpg)}
        &.item-12{background-image: url(../img/header/photo-12.jpg)}
    }
    &__insta {
        position: absolute;
        top: 13px;
        right: 20px;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        filter: brightness(100%);
        transition: filter 0.3s ease;
        .insta {
            &_logo {
                margin-right: 5px;
            }
            &_text {
                font-size: 15px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #ffffff;
                font-weight: bold;
            }
        }
        &:visited {filter: brightness(100%)}
        &:hover {filter: brightness(90%)}
        &:focus {filter: brightness(95%)}
        &:active {filter: brightness(87.5%)}
    }
    &::before {
        content: '';
        background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }
  &_burger {
      display: none;
      &__button {
          width: 50px;
          height: 50px;
          background: transparent;
          display: none;
          cursor: pointer;
          position: fixed;
          top: 15px;
          left: 15px;
          z-index: 3;
          border: 2px solid #fff;
          border-radius: 5px;
          will-change: border-color;
          transition: border-color 0.3s ease;
          &-span {
            display: block;
            width: 40px;
            height: 2px;
            background: #fff;
            margin: auto;
            transform: none;
            will-change: transform, background-color;
            transition: transform 0.3s ease,
                        background-color 0.3s ease;
            &.top {transform: rotate(0deg) scale(1,1) translate(0, 13px)}
            &.middle {transform: rotate(0deg) scale(1,1) translate(0, 21px)}
            &.bottom {transform: rotate(0deg) scale(1,1) translate(0, 29px)}
          }
          &::before {
            content: '';
            height: 0;
            position: fixed;
            top: 251px;
            left: 0;
            background: rgba(0,0,0,0.2);
            width: 100vw;
            will-change: height;
            transition: height 0.2s linear;
          }
      }
      &:checked {
        & ~ .header_burger__button {
            border-color: $menu-color;
                &::before {
                    height: calc(100vh - 251px);
                    transition: height 0.2s 0.2s linear;
                }
            .header_burger__button {
                &-span {
                    background-color: $menu-color;
                    &.top {transform: rotate(45deg) scale(1.4,1.4) translate(11px, 11px)}
                    &.middle {transform: rotate(0deg) scale(0,0) translate(0, 21px)}
                    &.bottom {transform: rotate(-45deg) scale(1.4,1.4) translate(-9px, 9px)}
                }
            }
        }
      }
  }
  &_nav {
      user-select: none;
      background: #fff;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.11);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:before, &:after {
          content: '';
          display: block;
          width: 8px;
          height: 100%;
          position: absolute;
          top: 0;
          background: #fff;
      }
      &:before {left: -8px}
      &:after {right: -8px}
      &__link {
        display: block;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 24px;
        color: $menu-color;
        font-weight: 600;
        margin: 38px 40px;
        text-decoration: none;
        text-shadow: none;
        transition: all 0.3s ease;
        &:visited {
            color: $menu-color;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            text-shadow: 0 0 1px lighten($menu-color, 10);
        }
        &:focus {
            text-shadow: 0 0 1px lighten($menu-color, 5);
        }
        &:active {
            color: darken($menu-color, 5);
            text-shadow: 0 0 1px lighten($menu-color, 10);
        }
      }
  }
}