.main {
    &_about {
        background: $about-bkg;
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 926px;
            margin: 0 auto;
            .about {
                &_logo {
                    display: block;
                    width: auto;
                    height: auto;
                    margin: 110px auto 20px auto;
                }
                &_description {
                    font-size: 56px;
                    line-height: 70px;
                    letter-spacing: -2px;
                    color: $text-color;
                    text-align: center;
                    margin: 0 auto 80px auto;
                }
                &_link {
                    font-size: 20px;
                    letter-spacing: -1px;
                    line-height: 25px;
                    color: #ffffff;
                    font-weight: 600;
                    padding: 20px 37px;
                    border-radius: 6px;
                    background-color: $button-color;
                    margin: 0 auto 173px auto;
                    text-decoration: none;
                    text-align: center;
                    will-change: background-color;
                    transition: background-color 0.3s ease;
                    &:visited {background-color: $button-color}
                    &:hover {background-color: darken($button-color, 10)}
                    &:focus {background-color: darken($button-color, 5)}
                    &:active {background-color: darken($button-color, 15)}
                }
            }
        }
    }
    &_menu {
        &__list {
            width: calc(100% + 40px);
            margin: 0 auto 0 -20px;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            .menu {
                &_content, &_img {
                    width: 50%;
                }
                &_img {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $about-bkg;
                }
                &_content {
                    padding: 220px 10%;
                }
                &_title {
                    font-size: 24px;
                    letter-spacing: -1px;
                    color: $text-color;
                    font-weight: 700;
                    margin-bottom: 25px;
                    position: relative;
                    &:before {
                        content: '';
                        width: 31px;
                        height: 2px;
                        background-color: lighten(saturate(adjust-hue($text-color, -42), 8.51), 22.35);                        ;
                        position: absolute;
                        top: 15px;
                        left: -53px;
                    }
                }
                &_description {
                    font-size: 18px;
                    letter-spacing: -1px;
                    line-height: 24px;
                    color: $text-color;
                    margin-bottom: 15px;
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
}