.main {
    &_about {
        &__wrapper {
            .about {
                &_logo {
                    margin: 50px auto 15px auto;
                }
                &_description {
                    font-size: 35px;
                    line-height:  45px;
                    margin: 0 auto 30px auto;
                }
                &_link {
                    margin: 0 auto 50px auto;
                }
            }
        }
    }
    &_menu {
        &__item {
            
            .menu {
                &_title {
                    font-size: 18px;
                    &:before {
                        width: 20px;
                        top: 12px;
                        left: -35px;
                    }
                }
                &_description {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}